
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Contact Information</h1>
</div>
<div>
    <address>
        <strong>Phone:</strong><br />
        (502) 526-2035<br />
        <strong>Email:</strong><br />
        <a href="mailto:#">colin.werra@gmail.com</a>
    </address>
</div>