
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Contact Information</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Address</h3>
    </div>
    <div class="panel-body text-center">
        10701 Bruners Way<br />
        Louisville, KY 40299
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Phone</h3>
    </div>
    <div class="panel-body text-center">
        (502) 526-2035
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Email</h3>
    </div>
    <div class="panel-body text-center">
        <a href="mailto:#">colin.werra@gmail.com</a>
    </div>
</div>