@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <img src="~/Content/files/awesome_face.jpg" alt="Awesome Face" style="width:270px;height:400px"/>
    </div>
    <div class="col-lg-9">
        <div class="row page-header">
            <div style="font-size:30pt"><b>Colin Werra</b></div>
            <div style="font-size:24pt"><i>.NET Engineer - ZirMed</i></div>
        </div>
        <div class="row" style="color:white; font-size:18pt">
            <div class="text-center">Notable Technical Skills</div>
            <div class="col-lg-4">
                <ul>
                    <li>C# 5.0 Programming</li>
                    <li>Java Programming</li>
                    <li>SQL</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>ASP.NET MVC 5</li>
                    <li>Visual Studio</li>
                    <li>NetBeans</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:100px">
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/Chess.jpg" alt="Chess">
            <div id="quote">
                "You have to learn the rules of the game, and then you have to play better than anyone else."<br />
                <br />
                -Albert Einstein
            </div>
    </div>
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/masthead.jpg" alt="Mountain">
        <div id="quote">
            "The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence."<br />
            <br />
            -Confucius
        </div>
    </div>
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/boom.jpg" alt="Boomarang">
        <div id="quote">
            "Be kind whenever possible. It is always possible."<br />
            <br />
            -Dalai Lama
        </div>
    </div>
</div>
