@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <img src="~/Content/files/awesome_face.jpg" alt="Awesome Face" style="width:270px;height:400px"/>
    </div>
    <div class="col-lg-9">
        <div class="page-header">
            <h1>Colin Werra</h1>
            <h4>IT Intern - ZirMed </h4>
        </div>
    </div>
</div>

<div class="row" style="margin-top:100px">
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/Chess.jpg" alt="Chess">
            <div id="quote">
                "You have to learn the rules of the game, and then you have to play better than anyone else."<br />
                <br />
                -Albert Einstein
            </div>
    </div>
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/masthead.jpg" alt="Mountain">
        <div id="quote">
            "The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence."<br />
            <br />
            -Confucius
        </div>
    </div>
    <div class="col-lg-4">
        <img id="quoteImage" class="center-block img-rounded" src="~/Content/files/boom.jpg" alt="Boomarang">
        <div id="quote">
            "Be kind whenever possible. It is always possible."<br />
            <br />
            -Dalai Lama
        </div>
    </div>
</div>
