@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Colin Werra</h1>
    <h4>IT Intern - ZirMed </h4>
</div>
<div>
    <blockquote>
        <p>Perhaps this is a good place for an inspirational quote.</p>
    </blockquote>
    <p>In here I will put a brief intro</p>
</div>