
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>About Me</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Professional Life</h3>
    </div>
    <div class="panel-body">
        I am currently an IT Intern working at ZirMed.  My duties include, but are not limited to, developing internal tools for use by
        ZirMed, furthering my knowledge of various aspects related to technology and web design infrastructure, preparation for the
        Microsoft C# certification exam, and working closely with my peers to strengthen our skills as a whole.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Academic Life</h3>
    </div>
    <div class="panel-body">
        I am currently enrolled at Indiana University Southeast and persuing a Bachelor's of Science in Computer Science and minoring in Mathematics.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Life</h3>
    </div>
    <div class="panel-body">
        I often try to enjoy all that life has to offer.
    </div>
</div>