
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>About Me</h1>
</div>
<div>
    <h3>Professional Life</h3>
    <p>
        I am currently an IT Intern working at ZirMed.  My duties include, but are not limited to, developing internal tools for use by 
        ZirMed, furthering my knowledge of various aspects related to technology and web design infrastructure, preparation for the 
        Microsoft C# certification exam, and working closely with my peers to strengthen our skills as a whole.
    </p>
</div>
<div>
    <h3>Academic Life</h3>
    <p>
        I am currently enrolled at Indiana University Southeast and persuing a Bachelor's of Science in Computer Science and minoring in Mathematics.
    </p>
</div>
<div>
    <h3>Personal Life</h3>
    <p>
        I often try to enjoy all that life has to offer. 
    </p>
</div>