
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>About Me</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Professional Life</h3>
    </div>
    <div class="panel-body">
        I am currently a .NET Engineer working at ZirMed.  My duties include, but are not limited to, develop and implement improvements and new
        features to the ZirMed website using C#, MVC, and SQL, work with my team memebers as well as other teams and departments, and assist in
        the testing of our products.<br />
        <br />
        At ZirMed, we work in an Agile environment, constantly adjusting to meet the expectations of the industry.  We are a large and fast growing
        company, always staying on the cutting edge.  With ZirMed, I am constantly being challenged to become a better developer and, with working in
        such a diverse and inclusive culture, I'm also constantly growing as an individual.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Academic Life</h3>
    </div>
    <div class="panel-body">
        I am currently enrolled at Indiana University Southeast and persuing a Bachelor's of Science in Computer Science and minoring in 
        Mathematics.  I have taken many courses to further enhance my knowledge of the Computer Science field.  Some of the more notable ones
        are Data Structures, Assemblers and Compliers, Programming Languages, Operating Systems, and Computer Structures.<br />
        <br />
        I have also taken a couple courses to further understand the software engineering and development processes.  These courses have helped
        me to understand the methodologies that were used historically and some that are used today such as Agile and Scrum.  I have also gained
        some experience with working with a small team to plan and develop a small project.<br />
        <br />
        For my future academic goals, after I have obtained some industry experience, I plan on persuing my Masters Degree in Computer Science.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Life</h3>
    </div>
    <div class="panel-body">
        I often try to enjoy all that life has to offer, constantly seeking out new and exciting things to experience.  I like to frequently
        support the arts by attending concerts, plays, ballets, etc.  Also, when I have freetime, I like to seek out volunteer opportunites
        and give back to my community. I also enjoy playing games, of all types, from video to board, from puzzle to card. With the time I 
        have leftover, I do enjoy reading and the occasional watching of NetFlix.
    </div>
</div>