
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>About Me</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Professional Life</h3>
    </div>
    <div class="panel-body">
        I am currently an IT Intern working at ZirMed.  My duties include, but are not limited to, developing internal tools for use by
        ZirMed, furthering my knowledge of various aspects related to technology and web design infrastructure, preparation for the
        Microsoft C# 5.0 certification exam, and working closely with my peers to strengthen our skills as a whole.<br />
        <br />
        Throughout the course of my internship, I will be learning more about many design principles such as Domain Driven Design, 
        Continuous Integration, Agile project development, Dependency Injection.  I will also be using many modern tools like Microsoft
        TFS, NHibernate, Microsoft Visual Studio, and Microsoft SQL Server Management Studio.  I will also develop my skills using ASP.NET MVC 5,
        HTML 5, CSS 3, C# 5.0, JavaScript, and Bootstrap.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Academic Life</h3>
    </div>
    <div class="panel-body">
        I am currently enrolled at Indiana University Southeast and persuing a Bachelor's of Science in Computer Science and minoring in 
        Mathematics.  I have taken many courses to further enhance my knowledge of the Computer Science field.  Some of the more notable ones
        are Data Structures, Assemblers and Compliers, Programming Languages, Operating Systems, and Computer Structures.<br />
        <br />
        I have also taken a couple courses to further understand the software engineering and development processes.  These courses have helped
        me to understand the methodologies that were used historically and some that are used today such as Agile and Scrum.  I have also gained
        some experience with working with a small team to plan and develop a small project.<br />
        <br />
        For my future academic goals, after I have obtained some industry experience, I plan on persuing my Masters Degree in Computer Science.
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Life</h3>
    </div>
    <div class="panel-body">
        I often try to enjoy all that life has to offer, constantly seeking out new and exciting things to experience.  I like to frequently
        support the arts by attending concerts, plays, ballets, etc.  Also, when I have freetime, I like to seek out volunteer opportunites
        and give back to my community. I also enjoy playing games, of all types, from video to board, from puzzle to card. With the time I 
        have leftover, I do enjoy reading and the occasional watching of NetFlix.
    </div>
</div>